.main {
  margin: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main button {
  margin-top: 20px;
  width: 200px;
  height: 30px;
  background-color: rgb(245, 173, 40);
  border-color: rgb(245, 173, 40);
  border-radius: 10px;
}

.option {
  width: 60%;
  margin-top: 15px;
  padding: 15px;
  border-radius: 15px;
  background-color: rgb(167, 167, 167);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option button {
  width: 200px;
  height: 30px;
  background-color: rgb(179, 218, 255);
  border-color: rgb(179, 218, 255);
  border-radius: 10px;
}

.option select {
  width: 200px;
  height: 50px;
  padding-left: 15px;
  margin-bottom: 10px;
}

.navdiv {
  display: flex;
  background-color: rgb(4, 1, 22);
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav a {
  color: #0070f3;
}

.table table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tr1 td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tr th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tr1 td {
  background-color: #7890fd;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tr2 td {
  background-color: rgb(252, 145, 145);
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tr3 td {
  background-color: rgb(137, 247, 170);
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* /////// ///////////////// ////////////*/

/* \\\\\\\\\\\\\\ \\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.container {
  padding: 0 2rem;
}

.footer {
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  display: flex;
  flex: 1;
  height: 2rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 212, 250);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* .footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
} */

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
